<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chineseivy.dao.GoodMapper">
  <resultMap id="BaseResultMap" type="com.chineseivy.bean.Good">
    <id column="goodId" jdbcType="INTEGER" property="goodid" />
    <result column="shopId" jdbcType="INTEGER" property="shopid" />
    <result column="recommendState" jdbcType="INTEGER" property="recommendstate" />
    <result column="goodName" jdbcType="VARCHAR" property="goodname" />
    <result column="oldPrice" jdbcType="DOUBLE" property="oldprice" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="activityId" jdbcType="INTEGER" property="activityid" />
    <result column="goodClassId" jdbcType="INTEGER" property="goodclassid" />
    <result column="activityPrice" jdbcType="DOUBLE" property="activityprice" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="standard" jdbcType="VARCHAR" property="standard" />
    <result column="goodState" jdbcType="INTEGER" property="goodstate" />
  </resultMap>

  <resultMap id="packageResultMap" type="com.chineseivy.bean.GoodPackage">
    <id column="goodId" jdbcType="INTEGER" property="goodid" />
    <result column="recommendState" jdbcType="INTEGER" property="recommendstate" />
    <result column="goodName" jdbcType="VARCHAR" property="goodname" />
    <result column="oldPrice" jdbcType="DOUBLE" property="oldprice" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="goodClassId" jdbcType="INTEGER" property="goodclassid" />
    <result column="activityPrice" jdbcType="DOUBLE" property="activityprice" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="standard" jdbcType="VARCHAR" property="standard" />
    <result column="goodState" jdbcType="INTEGER" property="goodstate" />
    <result column="activtiyState" jdbcType="INTEGER" property="activtiystate" />
    <association property="shop" javaType="com.chineseivy.bean.Shop">
      <id column="shopId" jdbcType="INTEGER" property="shopid" />
      <result column="shopName" jdbcType="VARCHAR" property="shopname" />
      <result column="shopPassword" jdbcType="VARCHAR" property="shoppassword" />
      <result column="shopTel" jdbcType="VARCHAR" property="shoptel" />
      <result column="shopStar" jdbcType="INTEGER" property="shopstar" />
      <result column="shopAddres" jdbcType="VARCHAR" property="shopaddres" />
      <result column="registerTime" jdbcType="TIMESTAMP" property="registertime" />
      <result column="shopState" jdbcType="INTEGER" property="shopstate" />
    </association>
    <association property="activity" javaType="com.chineseivy.bean.Activity">
      <id column="activityId" jdbcType="INTEGER" property="activityid" />
      <result column="goodClassId" jdbcType="INTEGER" property="goodclassid" />
      <result column="activityTheme" jdbcType="VARCHAR" property="activitytheme" />
      <result column="activityText" jdbcType="VARCHAR" property="activitytext" />
      <result column="activityImg" jdbcType="VARCHAR" property="activityimg" />
      <result column="activityStartTime" jdbcType="TIMESTAMP" property="activitystarttime" />
      <result column="activityEndTime" jdbcType="TIMESTAMP" property="activityendtime" />
      <result column="aim" jdbcType="DOUBLE" property="aim" />
    </association>
      <association property="goodClass" javaType="com.chineseivy.bean.GoodClass">
          <id column="goodClassId" jdbcType="INTEGER" property="goodclassid" />
          <result column="categoriesId" jdbcType="INTEGER" property="categoriesid" />
          <result column="goodClassName" jdbcType="VARCHAR" property="goodclassname" />
      </association>
  </resultMap>

  <select id="selectByPrimaryKey" parameterType="int" resultMap="packageResultMap">
    select 'true' as QUERYID,
      t_good.*,a.*,tgC.*,shop.*
    from t_good
      INNER JOIN t_goodClass tgC ON t_good.goodClassId = tgC.goodClassId
      INNER JOIN t_shop shop ON t_good.shopId = shop.shopId
      INNER JOIN t_activity a ON t_good.activityId = a.activityId
    where goodId = #{goodid,jdbcType=INTEGER}
  </select>
  <!--通过商品状态查找商品-->
  <select id="selectByGoodState" parameterType="int" resultMap="packageResultMap">
    select 'true' as QUERYID,
    t_good.*,a.*,tgC.*,shop.*
    from t_good
    INNER JOIN t_goodClass tgC ON t_good.goodClassId = tgC.goodClassId
    INNER JOIN t_shop shop ON t_good.shopId = shop.shopId
    INNER JOIN t_activity a ON t_good.activityId = a.activityId
    where goodState = #{goodState,jdbcType=INTEGER}
  </select>
  <!--查找全部商品信息-->
    <select id="selectAllGoods" resultMap="packageResultMap">
      select 'true' as QUERYID,
        t_good.*,a.*,tgC.*,shop.*
      from t_good
        INNER JOIN t_goodClass tgC ON t_good.goodClassId = tgC.goodClassId
        INNER JOIN t_shop shop ON t_good.shopId = shop.shopId
        INNER JOIN t_activity a ON t_good.activityId = a.activityId
    </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_good
    where goodId = #{goodid,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.chineseivy.bean.Good">
    insert into t_good
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodid != null">
        goodId,
      </if>
      <if test="shopid != null">
        shopId,
      </if>
      <if test="recommendstate != null">
        recommendState,
      </if>
      <if test="goodname != null">
        goodName,
      </if>
      <if test="oldprice != null">
        oldPrice,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="activityid != null">
        activityId,
      </if>
      <if test="goodclassid != null">
        goodClassId,
      </if>
      <if test="activityprice != null">
        activityprice,
      </if>
      <if test="picture != null">
        picture,
      </if>
      <if test="standard != null">
        standard,
      </if>
      <if test="goodstate != null">
        goodState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodid != null">
        #{goodid,jdbcType=INTEGER},
      </if>
      <if test="shopid != null">
        #{shopid,jdbcType=INTEGER},
      </if>
      <if test="recommendstate != null">
        #{recommendstate,jdbcType=INTEGER},
      </if>
      <if test="goodname != null">
        #{goodname,jdbcType=VARCHAR},
      </if>
      <if test="oldprice != null">
        #{oldprice,jdbcType=DOUBLE},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="activityid != null">
        #{activityid,jdbcType=INTEGER},
      </if>
      <if test="goodclassid != null">
        #{goodclassid,jdbcType=INTEGER},
      </if>
      <if test="activityprice != null">
        #{activityprice,jdbcType=DOUBLE},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="standard != null">
        #{standard,jdbcType=VARCHAR},
      </if>
      <if test="goodstate != null">
        #{goodstate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.chineseivy.bean.Good">
    update t_good
    <set>
      <if test="shopid != null">
        shopId = #{shopid,jdbcType=INTEGER},
      </if>
      <if test="recommendstate != null">
        recommendState = #{recommendstate,jdbcType=INTEGER},
      </if>
      <if test="goodname != null">
        goodName = #{goodname,jdbcType=VARCHAR},
      </if>
      <if test="oldprice != null">
        oldPrice = #{oldprice,jdbcType=DOUBLE},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="activityid != null">
        activityId = #{activityid,jdbcType=INTEGER},
      </if>
      <if test="goodclassid != null">
        goodClassId = #{goodclassid,jdbcType=INTEGER},
      </if>
      <if test="activityprice != null">
        activityPrice = #{activityprice,jdbcType=DOUBLE},
      </if>
      <if test="picture != null">
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="standard != null">
        standard = #{standard,jdbcType=VARCHAR},
      </if>
      <if test="goodstate != null">
        goodState = #{goodstate,jdbcType=INTEGER},
      </if>
    </set>
    where goodId = #{goodid,jdbcType=INTEGER}
  </update>

</mapper>