<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chineseivy.dao.RecommendMapper">
  <resultMap id="BaseResultMap" type="com.chineseivy.bean.Recommend">
    <id column="recommendId" jdbcType="INTEGER" property="recommendid" />
    <result column="shopId" jdbcType="INTEGER" property="shopid" />
    <result column="recommendTheme" jdbcType="VARCHAR" property="recommendtheme" />
    <result column="recommendText" jdbcType="VARCHAR" property="recommendtext" />
    <result column="recommendStartTime" jdbcType="TIMESTAMP" property="recommendstarttime" />
    <result column="recommendEndTime" jdbcType="TIMESTAMP" property="recommendendtime" />
    <result column="recommendImg" jdbcType="VARCHAR" property="recommendimg" />
  </resultMap>

  <resultMap id="packageResultMap" type="com.chineseivy.bean.RecommendPackage">
    <id column="recommendId" jdbcType="INTEGER" property="recommendid" />
    <result column="recommendTheme" jdbcType="VARCHAR" property="recommendtheme" />
    <result column="recommendText" jdbcType="VARCHAR" property="recommendtext" />
    <result column="recommendStartTime" jdbcType="TIMESTAMP" property="recommendstarttime" />
    <result column="recommendEndTime" jdbcType="TIMESTAMP" property="recommendendtime" />
    <result column="recommendImg" jdbcType="VARCHAR" property="recommendimg" />
    <association property="shop" javaType="com.chineseivy.bean.Shop">
      <id column="shopId" jdbcType="INTEGER" property="shopid" />
      <result column="shopName" jdbcType="VARCHAR" property="shopname" />
      <result column="shopPassword" jdbcType="VARCHAR" property="shoppassword" />
      <result column="shopTel" jdbcType="VARCHAR" property="shoptel" />
      <result column="shopStar" jdbcType="INTEGER" property="shopstar" />
      <result column="shopAddres" jdbcType="VARCHAR" property="shopaddres" />
      <result column="registerTime" jdbcType="TIMESTAMP" property="registertime" />
      <result column="shopState" jdbcType="INTEGER" property="shopstate" />
    </association>

  </resultMap>

  <sql id="Base_Column_List">
    recommendId, shopId, recommendTheme, recommendText, recommendStartTime, recommendEndTime, 
    recommendImg
  </sql>

  <!--根据主键查询-->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="packageResultMap">
    select 'true' as QUERYID,
    t_recommend.*,shop.*
    from t_recommend
    INNER JOIN t_shop shop ON t_recommend.shopId = shop.shopId
    where recommendId = #{recommendid,jdbcType=INTEGER}
  </select>

  <select id="selectAllRecommend" resultMap="packageResultMap">
    SELECT t_recommend.*,shop.* FROM t_recommend
      INNER JOIN t_shop shop ON t_recommend.shopId = shop.shopId
  </select>
  <!--通过主键删除信息-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_recommend
    where recommendId = #{recommendid,jdbcType=INTEGER}
  </delete>
  <!--插入推荐商品信息-->
  <insert id="insertSelective" parameterType="com.chineseivy.bean.Recommend">
    insert into t_recommend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recommendid != null">
        recommendId,
      </if>
      <if test="shopid != null">
        shopId,
      </if>
      <if test="recommendtheme != null">
        recommendTheme,
      </if>
      <if test="recommendtext != null">
        recommendText,
      </if>
      <if test="recommendstarttime != null">
        recommendStartTime,
      </if>
      <if test="recommendendtime != null">
        recommendEndTime,
      </if>
      <if test="recommendimg != null">
        recommendImg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recommendid != null">
        #{recommendid,jdbcType=INTEGER},
      </if>
      <if test="shopid != null">
        #{shopid,jdbcType=INTEGER},
      </if>
      <if test="recommendtheme != null">
        #{recommendtheme,jdbcType=VARCHAR},
      </if>
      <if test="recommendtext != null">
        #{recommendtext,jdbcType=VARCHAR},
      </if>
      <if test="recommendstarttime != null">
        #{recommendstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="recommendendtime != null">
        #{recommendendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="recommendimg != null">
        #{recommendimg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chineseivy.bean.Recommend">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update t_recommend
    <set>
      <if test="shopid != null">
        shopId = #{shopid,jdbcType=INTEGER},
      </if>
      <if test="recommendtheme != null">
        recommendTheme = #{recommendtheme,jdbcType=VARCHAR},
      </if>
      <if test="recommendtext != null">
        recommendText = #{recommendtext,jdbcType=VARCHAR},
      </if>
      <if test="recommendstarttime != null">
        recommendStartTime = #{recommendstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="recommendendtime != null">
        recommendEndTime = #{recommendendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="recommendimg != null">
        recommendImg = #{recommendimg,jdbcType=VARCHAR},
      </if>
    </set>
    where recommendId = #{recommendid,jdbcType=INTEGER}
  </update>

</mapper>